.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    padding-top: 2rem;
    height: 800px;
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
}
.project {
    border-radius: .5rem;
    position: relative;
    min-height: 4rem;
    width: calc(50% - .25rem);
    max-width: 300px;
}
.project__link {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 5;
}
.project__image {
    border-radius: inherit;
    position: relative;
    object-fit:cover;
    width: 100%;
    aspect-ratio: 3/2;
}

.project__footer {
    align-items: center;
    bottom: 0;
    border-radius: inherit;
    display: flex;
    height: 4rem;
    padding: .5rem;
    position: absolute;
    width: 100%;
}
.project__footer--icon {
    border-radius: inherit;
    height: 50px;
}
.project__footer--name {
    color: var(--lightest-gray);
    font-size: 1rem;
    margin: 0 0 0 .5rem;
    letter-spacing: 1px;
}
@media screen and (min-width:480px) {
    .projects {
        height: 1200px;
    }
}
@media screen and (min-width:768px) {
    .projects {
        height: 1000px;
    }
}