

.skills {
    background-color: var(--light-gray);
    padding-bottom: 1rem;
}
.skill {
    background-color: var(--dark-gray);
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: .75rem;
    display: flex;
    height: 5rem;
    box-shadow: .25rem .5rem .25rem #bbbbbb;

    transition: .2s;
}
.skill__image {
    border-right: 1px solid #fff;

}
.skill__description{
    color: var(--lightest-gray);
    font-size: 2em;
    font-weight: 700;
    margin-left: .5rem;
}
.skill__description--name {
    font-size: 2rem;
    font-weight: 700;
}
.skill__description--exp {
    font-size: 1rem;
    font-weight: 300;
}
.skill:hover {

    transform: translateX(-.25rem) translateY(-.5rem);
    box-shadow: .5rem 1rem .5rem #bbbbbb, 0 -.5rem .5rem rgb(0, 0, 0, 0.25);
    transition: .2s;
    
}
.skill__image:hover {
}
