@import url(./_variaveis.css);

* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--lightest-gray);
    
}
main {
    padding-top: 4rem;
}

main > * {
    padding: 0 .5rem;
}

.title {
    color: var(--darkest-gray-text);
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    text-transform: uppercase;
}