@import url(./_variaveis.css);

* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--lightest-gray);
    
}
main {
    padding-top: 4rem;
}
main > * {
    padding: 0 1rem;
}
.title {
    width: 100%;
    color: var(--darkest-gray-text);
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
    text-transform: uppercase;
}
@media screen and (min-width: 480px) {
    .title {
        font-size: 2rem;
    }
}
@media screen and (min-width: 768px) {
    main > * {
        padding: 0 5rem;
    }
}

@media screen and (min-width:1440px) {
    section {
        padding: 0 7.5rem;
    }
    main {
        display: grid;
        width: 100vw;
        grid-template-columns: 30% 70%;
    }
    .about {
        grid-column: span 2;
        width: 100vw;
    }
    .education {
        grid-column: span 2;
        width: 100vw;
    }
    .skills {
        padding-right: 1rem;
        width: 30vw;
    }
    .section-projects {
        padding-left: 0;
        margin: 0;
        width: 70vw;

    }
}